@using SistemaFerrreteria.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="~/Content/estilosMenu.css">
    <link rel="stylesheet" href="~/Content/menuRegis.css">
</head>
<body>
    <div class="center">
        <h1 id="title">@ViewBag.Title.</h1>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="txt_field">
                    <input type="email" required @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                           @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    <label>Correro eléctronico</label>

                </div>
                <div class="txt_field">

                    <input type="password" required @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    <label>Contraseña</label>

                </div>
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Iniciar sesión" class="boton" />
                </div>

                <div class="signup_link">
                    No tienes cuenta? @Html.ActionLink("Registrate", "Register")
                </div>

                @*//Habilite esta opción una vez tenga la confirmación de la cuenta habilitada para la funcionalidad de restablecimiento de contraseña
                    <p>
                        @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}